<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2025 <strong>SmartTechnology</strong>. All rights reserved.</p>
    
    <p>
      📧 Email:
      <a href="mailto:abhijitdoke.skncomp@gmail.com">
        abhijitdoke.skncomp&#64;gmail.com
      </a>
    </p>

    <p>
      📞 Contact:
      <a href="tel:+919421320544">
        +91 94213 20544
      </a>
    </p>
    <p>
  ▶️ YouTube:
  <a href="https://www.youtube.com/@TheImaginationStations" target="_blank" rel="noopener noreferrer">
    SmartTechnology Channel
  </a>
</p>
    
  </div>
</footer>
