<nav class="navbar">
  <div class="logo">SmartTechnology</div>

  <!--Hamburger Menu Button -->
  <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle menu">
    &#9776;
  </button>

  <!-- Navigation Links -->
  <ul class="nav-links" [class.active]="menuOpen">
    <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li><a routerLink="/html" routerLinkActive="active">HTML</a></li>
    <li><a routerLink="/css" routerLinkActive="active">CSS</a></li>
    <li><a routerLink="/js" routerLinkActive="active">JavaScript</a></li>
    <li><a routerLink="/angular" routerLinkActive="active">Angular</a></li>
  </ul>
</nav>




<!-- Router outlet to display component -->
<router-outlet></router-outlet>

